<div class="bar bar-subheader bar-dark">
    <div class="button-bar double-button-bar">
    	<!--
		<a class="button sb-button button-royal"ng-click="currPage='checkbox'" ng-class="{selected: currPage === 'checkbox'}" ui-sref="forms.selection">checkbox</a>
        -->
    	
        <a class="button-small button button-royal" ng-click="currPage='selections'" ng-class="{selected: currPage === 'selections'}" ui-sref="forms.selectionsList">Selections</a>
        <a class="button button-royal" ng-click="currPage='inputs'"    ng-class="{selected: currPage === 'inputs'}"    ui-sref="forms.inputs">Inputs</a>
        
    </div>
</div>