<ion-view title="Home">
	<ion-content class="has-subheader">
		<ion-list>
			<!--
			<ion-item ng-repeat="item in items track by $index" ng-click="item.click()">
				<p>{{ item.name }}</p>
			-->
			<label class="item item-input">
				<input type="text" placeholder="Placeholder">
			</label>

			<label class="item item-input">
				<span class="input-label">Inline Label</span>
				<input type="text">
			</label>

		  <label class="item item-input item-stacked-label">
		    <span class="input-label">Stacked Label</span>
		    <input type="text" placeholder="With a placeholder">
		  </label>
		</ion-list>

		<br />

		<div class="list list-inset">
		  <label class="item item-input">
		    <input type="text" placeholder="This is ">
		  </label>
		  <label class="item item-input">
		    <input type="text" placeholder="An inset form">
		  </label>

		  <label class="item item-input">
		    <i class="icon ion-search placeholder-icon"></i>
		    <input type="text" placeholder="Icon">
		  </label>

		  <div class="item item-input-inset">
		    <label class="item-input-wrapper">
		      <input type="text" placeholder="Inset Inputs">
		    </label>
		    <button class="button button-small">
		      Cancel
		    </button>
		  </div>

		</div>

		<br />
	</ion-content>
</ion-view>
