

<div class="bar bar-subheader bar-dark">
    <div class="button-bar">
        <a class="button button-positive" ng-click="currPage='detail'" ng-class="{selected: currPage === 'detail'}" ui-sref="app.detail">Detail Page</a>
        <a class="button button-positive" ng-click="currPage='home'" ng-class="{selected: currPage === 'home'}" ui-sref="app.home">Home Page</a>
        <a class="button button-positive" ng-click="currPage='accord'" ng-class="{selected: currPage === 'accord'}" ui-sref="app.accordion">Accordion Test</a>
    </div>
</div>