/* Empty. Add your own CSS if you like */

.button-bar .button-positive.selected {
  background-color: #81b9e5;
}

.button-bar .button-royal.selected {
  background-color: #A08CE2;
}

.list .item.item-accordion {
  line-height: 38px;
  padding-top: 0;
  padding-bottom: 0;
  transition: 0.09s all linear;
}

.list .item.item-accordion.ng-hide {
  line-height: 0;
}

.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
  display: block !important;
}

.align-left {
  float: left;
}

.align-right {
  float: right;
}